<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'history_page.css' %}">
</head>
<body>
    <button id="back_btn" title="Go back to previous page" >Back</Button>
    <h1>Input Log and Predictions</h1>
    <p>Track your past inputs and view corresponding predictions to analyze trends and insights.</p>
{% for prediction_result in prediction_results reversed %}
    <div class="user-entry">
        <h3>Prediction Results:</h3>
        <p><strong>Career One:</strong> {{ prediction_result.career_one }}</p>
        <p><strong>Career Two:</strong> {{ prediction_result.career_two }}</p>
        <p><strong>Career Three:</strong> {{ prediction_result.career_three }}</p>
    </div>
{%endfor%}


    
</body>

<script>
    document.getElementById("back_btn").addEventListener("click", function() {
        window.history.back();
    });
</script>
</html>

